/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/**** lastni css ****/
.igralci, .film, .komentarji{
  /*border-color: black;
  border-width: 2px;
  border-style: solid;*/
  margin-bottom: 10px;
}

.film{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.film img{
  width: 100%;
}

.film-podatki{
  font-size: 1.5em;
}

.film-podatki .naslov{
  font-weight: bold;
  font-size: 2em;
  color:blueviolet;
}

.film-podatki .zanri{
  font-style: italic;
}

.film-podatki .opis{
  font-size: 0.6em;
  font-style: italic;
}

/*.igralci{
  display: grid;
  grid-template-columns: 1fr 1fr;
}*/

.igralec img{
  width: 30%;
}

.igralec .igralec-podatki{
  
  font-size: 1em;
  font-weight: bold;
}


.komentarji-prikaz{
  margin-top:50px;
}

.komentar-podatki{
  font-style:italic;
  font-weight: bold;
}

.komentar div{
  margin-top:5px;
  font-size: 0.8em;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.post .post-image .image {
  width: 100%;
  height: auto;
}

.post .post-description {
  padding: 15px;
}

.card{
  margin-bottom:20px;
}

/*rating stars css*/
div.stars {
  width: 270px;
  display: inline-block
}

input.star {
  display: none
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #4A148C;
  transition: all .2s
}

input.star:checked~label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s
}

input.star-5:checked~label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952
}

input.star-1:checked~label.star:before {
  color: #F62
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3)
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome
}


/**prikaz gumba x za brisanje komentarjev**/
.brisanje {
  visibility: hidden;
}

.card:hover .brisanje {
  visibility: visible;
}